
.containerMain {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
}

.containerMain section{
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}

@media (max-width:760px) {
  .containerMain {
    min-width: 260px;
    height: 100%;
 }
  .containerMain section{
     grid-template-columns: 1fr;
     gap: 2.25rem;
  }
}